 body{
	background-color: #221e1f;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #ccc;
	margin: 0;
}

main{
	margin: 0;
}

h1{
	margin: 0;
}

.logo{
	font-size: 44px;
	color: #FA4A4F;
	text-transform: uppercase;
	font-family: 'Covered By Your Grace', cursive;
	text-align: center;
	letter-spacing: 10px;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.pizza{
	background-image: url(img/pizza.png);
	background-repeat: no-repeat;
	width: 800px;
	height: 800px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 670px;
	height: 200px;
	padding: 0 15px;
	background:rgba(34,30,31, .9);
	border: 7px solid #009867;
	color: rgba(250,74,79,1);
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	font-family: 'Anton', sans-serif;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
	border-radius: 40px;
	-webkit-box-shadow: 1px 0px 40px 25px rgba(0,0,0,0.79);
	-moz-box-shadow: 1px 0px 40px 25px rgba(0,0,0,0.79);
	box-shadow: 1px 0px 40px 25px rgba(0,0,0,0.79);
}

.socials{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

a {

}

.facebook{
	width: 60px;
	height: 20px;
	text-align: center;
	padding: 10px;
	margin-right: 10px;
	background: rgb(24, 22, 22);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.lin{
	width: 60px;
	height: 20px;
	text-align: center;
	padding: 10px;
	margin-right: 10px;
	background: rgb(24, 22, 22);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.git{
	width: 60px;
	height: 20px;
	text-align: center;
	padding: 10px;
	margin-right: 10px;
	background: rgb(24, 22, 22);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.gmail{
	width: 60px;
	height: 20px;
	text-align: center;
	padding: 10px;
	margin-right: 10px;
	background: rgb(24, 22, 22);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.footer{
	text-align: center;
	background: rgb(24, 22, 22);
	padding: 10px;
	margin: 0;
}